* 
{
    margin: 0;
    padding: 0;
}

html, body { height: 100%; }

body
{
    background-color: #1c1c1c;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

.body-login
{
    background-image: url('../Imagens/tela-login.jpg'); /*Imagem de <a href="https://pixabay.com/pt/users/aitoff-388338/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2296199">Andrew Martin</a> por <a href="https://pixabay.com/pt/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2296199">Pixabay</a>*/
    background-size: cover;
    background-attachment: fixed;
    min-height: 100%;
    width: 100%; 
    display: flex;
    font-family: Century Gothic;
}

.logout-base
{
    text-align: right; 
    color:#ff9f00;
}

/* main
{
    height: 100%;
} */

.painel-central
{
    display: flex;
    align-items: center;
    width: 100%;
}

.formulario
{
    color: #ff9f00;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    background-color: #1c1c1c;
    box-shadow: 7px 7px 5px black;  
    position: relative;
}

.linha-laranja
{
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    left: 0;
    border-bottom: 1px solid;
    margin-top: 30px;
    color: #ff9f00;
}

.componente
{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.formulario-label
{
    font-weight: bold; 
    width: 100px; 
}

.formulario-input
{
    padding: 5px; 
    font-size: 14px; 
    border-radius: 3px;
    /* border-style: none; */
    border: 1px solid #0000007d;
}

.formulario-botao
{
    font-weight: bold; 
    width: 100%; 
    padding: 10px; 
    font-size: 14px; 
    border-style: none;
    background-color: #ff7100;
    color:white; 
    border-radius: 5px;
    margin-top: 20px;
}

.formulario-botao:hover
{
    cursor: pointer;
}

.login-primeiro-acesso
{
    color: white;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 10px 5px 0;
}

.login-primeiro-acesso:hover
{
    cursor: pointer;
    text-decoration: underline;
}

footer
{
    color:#ff9f00; 
    /* position: fixed; 
    bottom: 0;  */
    border-top: 2px solid #ff9f00; 
    width: 100%;
    margin-top: 15px;
}

.footer-fixo
{
    position: fixed; 
    bottom: 0; 
}

/* -----------------------------------
Menu Inicial
----------------------------------- */

.titulo-inicial
{
    color:#ff9f00; 
    border-bottom: 3px solid #ff9f00; 
    width:960px; 
    text-align: center; 
    margin-left: auto;
    margin-right: auto;
}

.menu-botao-container
{
    display: flex; 
    justify-content: space-around;
    margin-top: 30px;
}

.botao-menu
{
    background-color:#1c1c1c; 
    margin: 10px 0 10px 0; 
    font-weight: bold;  
    padding: 10px; 
    font-size: 14px; 
    border: 2px solid #ff7100; 
    color:white;
    height: 120px;
    width: 120px; 
    border-radius: 10px
}

.botao-menu:hover
{
    background-color:#ff9f00; 
}

/* -----------------------------------
Triagem
----------------------------------- */
.componente-radio
{
    margin-bottom: 20px;
}

.componente-radio > label
{
    display: flex;
    margin-bottom: 1px;
}

.body-central
{
    display: flex;
    /* font-family: Century Gothic; */
}

.main-central
{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.formulario-triagem
{
    padding: 50px;
    border-radius: 5px;
    position: relative;
    background-color: #ffe7ba;
    box-shadow: 7px 7px 5px black;  
}

/* -----------------------------------
Cadastro usuário
----------------------------------- */

/* .info-cadastro-container
{
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
} */

.formulario-base
{
    background-color: white;
    margin: 20px;
    border-radius: 5px;
}


.formulario-header
{
    background-color: #ff7100;
    color: white;
    font-weight: bold;
    padding: 3px 0px 3px 6px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.formulario-body
{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.botao-container
{
    display: flex;
    margin: 10px;
}

.botao-container > button:first-child
{
    margin-right: 20px;
}

/*style="display: flex; border-radius: 5px; margin:20px; flex-direction:column; color:#130567; border-color: #13056712; box-shadow: 2px 6px 10px #6f90acf0; padding: 10px 20px 15px 20px;"*/


/* -----------------------------------
aprovar usuario
----------------------------------- */

.aprovar-base
{
    display: flex;
    margin-left: 30px;
    align-items: center;
    justify-content: center;
}

.aprovar-card
{
    background-color: white;
    margin: 20px;
    border-radius: 5px;
    display: flex;
    width: 680px;
}

.aprovar-header
{
    background-color: #ff7100;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 7px;
}

.aprovar-body
{
    display: flex;
    padding: 5px;
    width: 100%;
}

.aprovar-texto
{
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 100%;
}

.aprovar-foto
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.aprovar-foto img
{
    max-width: 80px;
    max-height: 80px;
    padding: 5px;
}

/* -----------------------------------
aprovar usuario
----------------------------------- */

section.imagem-sobre
{
    background-image: url('../Imagens/tela-login.jpg'); /*Imagem de <a href="https://pixabay.com/pt/users/aitoff-388338/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2296199">Andrew Martin</a> por <a href="https://pixabay.com/pt/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2296199">Pixabay</a>*/
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    text-align: center; 
    position: relative;
    width: 100%;
    padding: 100px 0 150px 0;
    margin-top: 15px;
}

.container
{
    position: relative;
    z-index: 2;
    padding: 0 50px 0 50px; 
    max-width: 1280px;
    margin: 0 auto;
}

.overlay
{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.64);
    left: 0;
    top: 0;
}

section.imagem-sobre h2
{
    color: #ff9f00;
    font-size: 30px;
}

section.imagem-sobre p
{
    color: white;
    font-size: 17px;
    margin-top: 15px;
    text-align: left;
    text-align: justify;
}

section.secao-container
{
    padding: 30px 0;
}

.info-container,
.equipe-container
{
    display: flex;
}

.info-container > div
{
    width: 50%;
    padding: 10px 20px;
}

section.secao-container > div
{
    padding: 35px 70px 20px 70px;
    text-align: center;
}

section.secao-container p
{
    color: white;
    margin-left: 10px;
    margin-top: 5px;
    text-align: justify;
}

.descricao-equipe
{
    text-align: start;
}

section.secao-container .descricao-equipe label
{
    color: white;
    margin-left: 10px;
    margin-top: 5px;
    font-weight: bold;
}

.imagem-equipe
{
    display: flex;
    align-items: center;
}

.imagem-equipe img
{
    border-radius: 50%;
    background-size: 100% 100%;
    max-width: 60px;
    max-height: 60px;
    width: 60px;
    height: 60px;
}

/* -----------------------------------
cadastro sucesso
----------------------------------- */

.cadastro-sucesso-box
{
    background-color: white;
    /* padding: 50px;
    border-radius: 5px;
    position: relative;
    box-shadow: 7px 7px 5px black;   */
} 

.botao-compacto-box
{
    text-align: center;
}

.botao-compacto
{
    font-weight: bold; 
    width: 50%; 
    padding: 10px; 
    font-size: 14px; 
    border-style: none;
    background-color: #ff7100;
    color:white; 
    border-radius: 5px;
    margin-top: 20px;
}